html {
    /*
     * Margin and padding set to zero as default.
     * Then, content is fit exactly into iframe if it is used.
     */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    width: 705px;
    height: 580px;
    margin: 10px;
}

.animatorContainer {
    width: 100%;
    height: 50%;
}

.graphContainer {
    width: 100%;
    height: 50%;
}
